/* Colour palette */
$black: rgb(20, 20, 20);
$white: #fff;
$gray: #c0c0c0;
$lighter-gray: #d4d4d4;
$bg-color: #fff7cd;
$kh-yellow: #fff100;

/* Base */
$root-fonts-sizes: (
  small: 16px,
  xxlarge: 1.1vw
);

/* Breakpoints */
$breakpoints: (
  small: 0,
  medium: 640px,
  large: 1000px,
  xlarge: 1200px,
  xxlarge: 1400px
);

/* Typography */
$header-sizes: (
  small: (
    'h1': 32,
    'h2': 26,
    'h3': 20,
    'h4': 14,
    'h5': 14,
    'h6': 12
  ),
  medium: (
    'h1': 44,
    'h2': 32,
    'h3': 24,
    'h4': 16,
    'h5': 16,
    'h6': 14
  )
);

/* Featured fonts */
$body-font-family: 'Favorit', sans-serif;
$heading-line-height: 1.1;
$body-line-height: 1.4;

/* Gutters */
$gutters: (
  small: 1.4rem,
  medium: 3rem
);

$gutters-small: map-get($gutters, small);
$gutters-medium: map-get($gutters, medium);

/* Spacings for content (texts, images, etc...) */
$content-spacing: (
  small: 1.4rem,
  medium: 1.4rem
);

$content-spacing-small: map-get($content-spacing, small);
$content-spacing-medium: map-get($content-spacing, medium);

/* Spacings for blocks */
$block-spacing: (
  small: 1.4rem,
  medium: 2rem
);

$block-spacing-small: map-get($block-spacing, small);
$block-spacing-medium: map-get($block-spacing, medium);

$button-shadow: 0px 2px 10px rgba(84, 84, 84, 0.25);
$transition-cubic-bezier: 0.3s cubic-bezier(0.22, 0.68, 0, 1.71);

$menu-items-spacing: 0.5rem;
